:root {
    --bgGray: #E8E8E8;
    --fade: 0.25s;
    --flagBlue: #3C3B6E;
    --flagRed: #B22234;
    --halfBlue: #CECEDB;
    --halfRed: #ECC8CC;
    --unit: 1px;
}

body {
    background-color: var(--bgGray);
    font-family: Arial, sans-serif;
    font-size: calc(16 * var(--unit));
    margin: 0;
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: safe center;
    align-content: safe center;
    gap: calc(10 * var(--unit));
    padding: calc(30 * var(--unit)) calc(10 * var(--unit));
    box-sizing: border-box;
    min-height: 100vh;
}

.box {
    background-color: white;
    color: white;
    border-radius: calc(20 * var(--unit));
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    flex: 0 0 calc(300 * var(--unit));
    box-shadow: calc(5 * var(--unit)) calc(5 * var(--unit)) calc(10 * var(--unit)) gray;
    transition: opacity var(--fade) ease-in-out;
}

.box-title {
    background-color: var(--flagBlue);
    border-top-left-radius: calc(20 * var(--unit));
    border-top-right-radius: calc(20 * var(--unit));
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: calc(10 * var(--unit));
    padding: calc(10 * var(--unit)) 0;
    cursor: pointer;
    transition: color var(--fade) ease-in-out;
}

.box-sentence {
    color: black;
    padding: calc(5 * var(--unit)) 0;
    cursor: pointer;
    transition: background-color var(--fade) ease-in-out;
}

.box-counter {
    background-color: var(--flagRed);
    border-bottom-left-radius: calc(20 * var(--unit));
    border-bottom-right-radius: calc(20 * var(--unit));
    font-weight: bold;
    margin-top: calc(10 * var(--unit));
    padding: calc(10 * var(--unit)) 0;
    cursor: pointer;
    transition: color var(--fade) ease-in-out;
}

.box-title:hover { color: var(--halfBlue); }
.box-sentence:hover { background-color: var(--halfBlue); }
.box-counter:hover { color: var(--halfRed); }

.showall {
    position: fixed;
    top: calc(10 * var(--unit));
    right: calc(10 * var(--unit));
    font-size: calc(10 * var(--unit));
    color: gray;
    cursor: pointer;
}

.signature {
    position: fixed;
    bottom: calc(10 * var(--unit));
    right: calc(10 * var(--unit));
    font-size: calc(10 * var(--unit));
    font-variant: small-caps;
    color: gray;
}

a {
    color: gray;
    text-decoration: none;
}
